<header>
  <img class="header-icon" src="../assets/images/angular-icon.png" alt="Angualr icon">
  <h1 class="header-title">Todo List</h1>
</header>
<app-todo-form 
  [loading]="loading" 
  (filter)="onFilter($event)"
></app-todo-form>
<div>
  <app-loader *ngIf="loading; else todos"></app-loader>
  <ng-template #todos>
    <div *ngIf="todosService.todos.length; else noTodos">
      <app-todo
        *ngFor="let todo of todosService.todos | filter:filterStr"
        [todo]="todo"
      ></app-todo>
    </div>
    <ng-template #noTodos>
      <div>No Todos Yet</div>
    </ng-template>
  </ng-template>
</div>
