@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  padding: 0 0 20px;
  background-color: #2775ca;
  text-align: center;
  color: #ffffff;
}

header {
  margin: 20px 0 0 0;

  .header-icon {
    width: 80px;
    height: 80px;
  }
}
